body {
    font-size: 18px;
}

#editor {
    display: grid;
    grid-template-columns: repeat(4, calc(1vw + 60px));
    grid-auto-rows: 1fr;
    grid-gap: 10px;

    #zero {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

#result {
    text-align: right;
    margin-bottom: 20px;

    #formula, #display {
        margin: 7px 0;
        word-wrap: break-word;
    }
}

#themeswitch {
    position: absolute;
    display: flex;
    align-items: center;
    right: 20px;
    top: 20px;
    z-index: 2;

    & * {
        display: inline-block;
        margin: 0 5px;
    }
    #theme {
        font-size: 1.15em;
        margin-right: 15px;
    }
}

#credit {
    position: absolute;
    bottom: 0;
    right: 30px;

    a {
        padding: 3px;
        text-decoration: none;
    }
}